### Diagonsing the Diabetes by SVM model

In [57]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

In [58]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [59]:
df.shape

(768, 9)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [61]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

for outcome(label)

In [62]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0---> 'Non Diabetic'

1---> 'Diabetic'

To get the mean of both outcome

In [63]:
df.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

#### Separating features(x) and Labels(y)

In [64]:
x = df.drop("Outcome", axis=1)
y = df["Outcome"].copy()

In [65]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [66]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

To standardize the data(features)

In [67]:
scaler = StandardScaler()
scaler.fit(x)
standardize_data = scaler.transform(x)

In [68]:
standardize_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

#### Splitting the data into test and train

In [69]:
x_train, x_test, y_train, y_test  = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

For comparison

In [70]:
print(x.shape, x_train.shape, x_test.shape, y.shape, y_train.shape, y_test.shape)

(768, 8) (614, 8) (154, 8) (768,) (614,) (154,)

#### Training the model

In [71]:
model = svm.SVC(kernel="linear")

fitting the model(it always trained on traning data i.e. x_train, y_train)

In [72]:
model.fit(x_train, y_train)

SVC(kernel='linear')

Okay Now we are going to evaluate our model by checking the accuracy over test data

In [73]:
train_data_prediction = model.predict(x_train)
train_data_accuracy = accuracy_score(train_data_prediction, y_train)

print("Training Data Accuracy of our model :",train_data_accuracy)

Training Data Accuracy of our model : 0.7833876221498371

As above we predict and check the accuracy over trained data , now we are going to check the accuracy over unknown or untrainded data called test data

In [74]:
test_data_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(test_data_prediction, y_test)

print("Test Data Accuracy of our model :",test_data_accuracy)

Test Data Accuracy of our model : 0.7727272727272727

custom checking of model

In [75]:
# import numpy as np 
# custom_data=np.array([0,137,40,35,168,43.1,2.288,33])
# # converted_array = np.asarray(custom_data)
# reshaped_data = custom_data.reshape(1,-1)

# standardized = scaler.transform(reshaped_data)

# print(standardized)

Prediction

In [76]:
# prediction_data = model.predict(standardized)
# print("custrom",prediction_data)

In [79]:
new_data = (10,139,80,0,0,27.1,1.441,57)
convert_to_array = np.asarray(new_data)
re_shaping = convert_to_array.reshape(1,-1)

standaring_data = scaler.transform(re_shaping)

print(standaring_data)

[[ 1.82781311  0.56664949  0.56322275 -1.28821221 -0.69289057 -0.62096232
   2.92686858  2.02160968]]

c:\Users\Madina Computers\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [80]:
predicted_data = model.predict(standaring_data)
print("Result of New data",predicted_data)

Result of New data [0]

c:\Users\Madina Computers\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

Check on the behalf of predicted value

In [81]:
if (predicted_data[0] == 0):
    print("The person is not diabetic")

else:
    print("The person is  diabetic")

The person is not diabetic